*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
debug/
[Dd]ebugPublic/
debugPublic/
[Rr]elease/
release/
[Rr]eleases/
releases/
x64/
x86/
build/
bld/
[Bb]in/
bin/
[Oo]bj/
obj/
[Oo]ut/
out/
msbuild.log
msbuild.err
msbuild.wrn
